<table>
  <tr>
    <th>Name</th>
    <th>Players</th>
    <th>Country_of_origin</th>
  </tr>

  <% @sports.each do |sport|%>
  <tr>
    <td><%= @sport["name"]%></td>
    <td><%= @sport["players"] %></td>
    <td><%= @sport["country_of_origin"] %></td>
    <%end%>
  </tr>
</table>